* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;
  min-height: 1280px;
  color: #fcfcfc;
  background: #000000;
  font-size: 24px;
}

p,
h1,
h2,
h3,
h4,
a {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: #06bf7f;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #302f2f;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  background: #000000;
  margin-bottom: 100px;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
  color: #06bf7f;
  
}

.intro__dek {
  color: #8a8a8a;
}

.intro__p {
  font-size: 1.75em;
  margin: 2rem auto 0.5rem auto;
  color: #06bf7f;
}

#small_gap {
  height: 300px;
}

#gap {
  height: 400px;
}

#big_gap {
  height: 600px;
}

#outro {
  height: 500px;
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

.rap { color: #2e75f0; font-weight: bold; }
.edm { color: #48d1e0; font-weight: bold;}
.pop { color: #fcc838; font-weight: bold;}
.latino { color: #8c62f5; font-weight: bold;}
